doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/client.js" defer) 
  body
    h1 Hello dude
    button#submitVehicle(type="button") Submit vehicle 
